<div class="register-form" style="margin: 30px 0;">
    <div class="row" >
        <div class="col-md-6" offset="col-md-3">
            <div class="container text-center">
                <img src="../../../assets/Logo.png" alt="Logo">
            </div>

            <h1 class="text-center">Register Here !!</h1>

            <form >

                <!-- Username Field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Username</mat-label>
                    <input  matInput placeholder="Enter Username">
                </mat-form-field>

                <!-- Password Field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput placeholder="Enter Password">
                </mat-form-field>

                <!-- First Name Field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input  matInput placeholder="Enter Firstname">
                </mat-form-field>

                <!-- Last Name Field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input  matInput placeholder="Enter Lastname">
                </mat-form-field>

                <!-- Email Field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Enter Email Address">
                </mat-form-field>

                <!-- Username Field -->
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mobile Number</mat-label>
                    <input type="number"  matInput placeholder="Enter Mobile Number">
                </mat-form-field>
                <div class="text-center">
                    <!-- Register Button -->
                    <button mat-raised-button color="primary" class="mx-3">Register</button>
    
                    <!-- Clear Button -->
                    <button mat-raised-button color="accent" class="mx-3">Clear</button>

                </div>



            </form>

        </div>
    </div>
</div>